/* left side */

        .logo {
            margin: 10px;
            width: 50px;
            height: 50px;
        }

        .info {
            width: 70%;
        }

        .row {
            display: flex;
            align-items: center;
            margin: 10px 0;
            cursor: pointer;
            width: 100%;
            height: 60px;
            padding-left: 5px;
            transition: background-color 0.3s;
        }
        
        .row.active {
            background-color: lightgray;
            border-radius: 8px;
        }
        .row.inactive{
            opacity: 1;
        }

        .row:hover {
            background-color: lightgray;
            border-radius: 8px;

        }

        .profile-icon {
            width: 18%;
            height: 45px;
            margin-right: 10px;
            border-radius: 100%;
            background-color: white;
        }

        .name{
            font-family: 'Vi-Medium';
            margin: 0px;
        }
        .phone {
            font-family: 'Vi-Medium';
            margin: 0px;
            padding: 10px 0px;
        }
        .postpaid-flex{
            display: flex;

        }

        .postpaid-button {
            background-color: #ffc600;
            color: black;
            border-radius: 5px;
            margin-left: 32px;
            margin-bottom: 10px;
            padding: 2px 5px;
            border: none;
            cursor: pointer;
            display: none;
            align-items: end;
            font-family: 'Vi-Regular';
        }

        .red-button {
            background-color: red;
            border-radius: 25px;
            color: white;
            padding: 10px 20px;
            margin: 10px;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            font-family: 'Vi-Medium';
        }

        .settings-icon {
            width: 30px;
            height: 30px;
            background-color: gray;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
        }

        .settings-icon img {
            width: 20px;
            height: 20px;
            fill: white;
        }
        
        
        
        
        .contact-info {
            display: flex;
            position: relative;
        }

        